* {
    -webkit-user-drag: none;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    width: 100%;
    color: #AD8439;
}

body.loading {
    visibility: hidden;
}


/* button {
    background-color: transparent;
    border: 1px solid #AD8439;
    color: #AD8439;
    outline: none;
    cursor: pointer;
    line-height: 30px;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #AD8439;
} */

main {
    display: flex;
    flex-direction: column;
    flex: auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 170px;
}

.map {
    flex: auto;
    background-color: #000;
    overflow: hidden;
    color: #FFF;
    font-size: 50px;
    position: relative;
}

.map .box {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
}

.map .box img {
    display: block;
}

.window {
    position: absolute;
    --width: 400px;
    --height: 300px;
    left: calc(50% - var(--width) / 2);
    top: calc(50% - var(--height) / 2);
    visibility: hidden;
    background-color: #000;
    width: var(--width);
    height: var(--height);
    border: #AD8439;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #AD8439;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.window::after {
    position: absolute;
    content: "关闭";
    right: 10px;
    top: 10px;
    color: #AD8439;
    pointer-events: all;
    cursor: pointer;
}

.window .title {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #AD8439;
    border-bottom: 1px solid #AD8439;
}

.window .content {
    flex: auto;
    padding: 10px;
    overflow: auto;
    pointer-events: all;
}

.show {
    visibility: visible;
}


.openFile {
    --width: 300px;
    --height: 200px;
}

.openFile .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.openFile .content button {
    margin-bottom: 10px;
}

.code {
    --width: 800px;
    --height: 600px;
}

.code .content {
    padding: 10px;
    overflow: hidden;
}



.code .content textarea {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    line-height: 26px;
    font-family: Consolas, monospace;
    border: none;
    outline: none;
    resize: none;
}

.编辑单位属性对话框 .el-dialog__title {
    padding-left: 70px;
}